.root
{
    -fx-background-color: rgba(67, 220, 25, 0.8);
        -fx-background-color:
            rgba(67, 220, 25, 0.8),
            linear-gradient(rgba(67, 220, 25, 0.8) 0%, #c9c9c9 20%, #f9f9f9 100%),
            linear-gradient(rgba(67, 220, 25, 0.8), #333333),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
        -fx-font-family: "Comic Sans MS";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
}

.button
{
    -fx-background-color:
        rgba(67, 220, 25, 0.8),
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(67, 220, 25, 0.8), rgba(255,255,255,0));
    -fx-background-radius: 5em;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 20;
}

.button:hover
{
-fx-background-color:
        rgba(58, 147, 23, 0.87),
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(58, 147, 23, 0.87), rgba(255,255,255,0));
    -fx-background-radius: 5em;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 20;
}

.button:pressed
{
-fx-background-color:
        rgba(67, 220, 25, 0.8),
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(67, 220, 25, 0.8), rgba(255,255,255,0));
    -fx-background-radius: 5em;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 18px;
    -fx-padding: 10 20 10 20;
}

.text-field
{
	-fx-accent: #151515;
	-fx-background-color:   rgba(67, 220, 25, 0.8),
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(67, 220, 25, 0.8), rgba(255,255,255,0));
	-fx-background-insets: 0 0 -1 0,0,1;
        -fx-background-radius: 8,8,4;
        -fx-padding: 15 15 15 15;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        -fx-font-family: "Comic Sans MS";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
        -fx-font-size: 60px;
}

.text-area
{
-fx-background-color:   rgba(67, 220, 25, 0.8),
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(67, 220, 25, 0.8), rgba(255,255,255,0));
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        -fx-font-family: "Comic Sans MS";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
        -fx-font-size: 20px;
}
 .text-area .content {
     -fx-background-color: #000000;
 }

.menu
{
-fx-background-color:   transparent;
}
.menu-bar {
    -fx-accent: rgba(67, 220, 25, 0.8);
    	-fx-background-color:   rgba(67, 220, 25, 0.8),
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(67, 220, 25, 0.8), rgba(255,255,255,0));
    	-fx-background-insets: 0 0 -1 0,0,1;
            -fx-background-radius: 8,8,4;
            -fx-padding: 0 0 0 0;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
            -fx-font-family: "Comic Sans MS";
            -fx-text-fill: linear-gradient(white, #d0d0d0);
            -fx-font-size: 20px;
}

.menu .label, .menu-item .label {
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}
.menu:hover, .menu:pressed {
     -fx-background-color:
            rgba(67, 220, 25, 0.8),
            radial-gradient(center 50% 0%, radius 100%, rgba(67, 220, 25, 0.5), rgba(255,255,255,0));
        -fx-background-insets: 0,1,2,0;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        -fx-font-family: "Comic Sans MS";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
        -fx-font-size: 20px;
}

.menu:focused
{
 -fx-background-color:
            rgba(67, 220, 25, 0.5),
            radial-gradient(center 50% 0%, radius 100%, rgba(67, 220, 25, 0.8), rgba(255,255,255,0));
        -fx-background-insets: 0,1,2,0;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        -fx-font-family: "Comic Sans MS";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
        -fx-font-size: 20px;

}

.menu-item:hover {
     -fx-background-color: rgba(67, 220, 25, 0.8),
          radial-gradient(center 50% 0%, radius 100%, rgba(67, 220, 25, 0.8), rgba(255,255,255,0));
        -fx-background-insets: 0,1,2,0;
        -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
        -fx-font-family: "Comic Sans MS";
        -fx-text-fill: linear-gradient(white, #d0d0d0);
        -fx-font-size: 20px;
}
.menu-item {
    -fx-background-color: transparent;
}
.context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.3);
}